# Lab 3 - Video Game Reviews

In [ ]:
import pandas as pd

## Import Data

In [ ]:
df = pd.read_csv('imdb-videogames.csv')

In [ ]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [ ]:
df.shape

(20805, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [ ]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

In [ ]:
df.duplicated().sum()

2

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.dtypes

df.rating.replace(' ', inplace=True)
df.rating.replace('*9.0', '9', inplace=True)
df.rating = df.rating.astype(float)
df.votes.replace(' ', inplace=True)
df.votes = df.votes.str.replace(',', '')
df.votes = df.votes.astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [ ]:
df.columns
df.drop('Unnamed: 0', axis = 1, inplace=True)
df.rename(columns={'plot summary':'plot_summary'}, inplace=True)
df.rename(columns={'Sci-Fi':'Sci_Fi'}, inplace= True)

## Questions

### 1. What is the average rating for Action games?

In [ ]:
df[df.Action].rating.mean()

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [ ]:
game_votes = df[(df.year > 2010) ].rating.mean()
game_votes

In [ ]:
game_votes = df[(df.year <= 2010) ].rating.mean()
game_votes

### 3. What games include "Fallout" in their title?

In [ ]:
df[df.name.str.contains("Fallout")]

### 4. What is the most common certificate for Sci-Fi games?

In [ ]:
cert = max = df[df.Sci_Fi].certificate.value_counts()
max = df[df.Sci_Fi].certificate.value_counts().max()

display(cert)

### 5. What percent of Thiller games have M or AO certificate?

### 6. What is the mean and median rating for Family games? for Action games?

In [ ]:
df.groupby(['Action']).rating.agg(['mean','median'])

In [ ]:
df.groupby(['Family']).rating.agg(['mean','median'])

### 7. Which game from 2018 got the most votes?

In [ ]:
game_votes = df[(df.year == 2018) ].sort_values("votes", ascending=False)
game_votes[["name","year", "votes"]].head(1)

                         name    year    votes
15915  Red Dead Redemption II  2018.0  35709.0

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [ ]:
df.groupby('Action').rating.mean()

Action
False    6.998812
True     7.068878
Name: rating, dtype: float64

In [ ]:
df.groupby('Adventure').rating.mean()

Adventure
False    6.788333
True     7.249050
Name: rating, dtype: float64

In [ ]:
df.groupby('Comedy').rating.mean()

Comedy
False    7.032130
True     7.186753
Name: rating, dtype: float64

In [ ]:
df.groupby('Crime').rating.mean()

Crime
False    7.030993
True     7.315111
Name: rating, dtype: float64

In [ ]:
df.groupby('Family').rating.mean()

Family
False    7.104128
True     6.686450
Name: rating, dtype: float64

In [ ]:
df.groupby('Fantasy').rating.mean()

Fantasy
False    6.976189
True     7.261732
Name: rating, dtype: float64

In [ ]:
df.groupby('Mystery').rating.mean()

Mystery
False    7.021001
True     7.451329
Name: rating, dtype: float64

In [ ]:
df.groupby('Sci_Fi').rating.mean()

Sci_Fi
False    7.068984
True     6.949254
Name: rating, dtype: float64

In [ ]:
df.groupby('Thriller').rating.mean()

Thriller
False    7.045595
True     7.107143
Name: rating, dtype: float64

### 9. Which year's games received the most votes?

- not 100% sure if this is what the question is asking

In [ ]:
total = df.loc[ : ,["year","name", "votes"]].sort_values("votes", ascending=False)
total.iloc[0]

year             2013.0
name     The Last of Us
votes           60597.0
Name: 19327, dtype: object

### 10. What's the average number of votes for games that are not Action games?

- working on this one

In [ ]:
df.groupby(['Team','Year']).votes.mean()

1    10520
2     6405
0     3143
3      735
Name: sum, dtype: int64

### 11. What game are platformers?

 ### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [401]:
df.loc[(df['rating']> 8.0) & (df['votes']> 1000),["certificate"]].value_counts()

certificate
M              363
T              180
E              102
E10+            51
K-A             11
AO               1
Not Rated        1
Unrated          1
dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

### 14. What are the average ratings by year?

In [ ]:
df.groupby(by ='year').rating.mean()

year
1952.0    7.000000
1962.0    6.800000
1964.0         NaN
1969.0    6.950000
1970.0    4.300000
            ...
2022.0    7.563063
2023.0         NaN
2024.0         NaN
2025.0         NaN
2027.0         NaN
Name: rating, Length: 61, dtype: float64

### 15. For each cerficate, what was the average rating and average number of votes?

In [ ]:
df.groupby(['certificate']).agg({
    'rating': ['mean'],
'votes': 'mean'
})

               rating        votes
                 mean         mean
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.895238   322.502646
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333