# Lab 3 - Video Game Reviews

In [551]:
import pandas as pd

## Import Data

In [552]:
df = pd.read_csv('imdb-videogames.csv')

In [553]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [554]:
df.shape

(20805, 17)

In [555]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [556]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

In [557]:
df.duplicated().sum()

2

In [558]:
df.drop_duplicates(inplace=True)

In [559]:
df.duplicated().sum()

0

In [560]:
df.dtypes

df.rating.replace(' ', inplace=True)
df.rating.replace('*9.0', '9', inplace=True)
df.rating = df.rating.astype(float)
df.votes.replace(' ', inplace=True)
df.votes = df.votes.str.replace(',', '')
df.votes = df.votes.astype(float)

In [561]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [562]:
df.columns
df.drop('Unnamed: 0', axis = 1, inplace=True)
df.rename(columns={'plot summary':'plot_summary'}, inplace=True)
df.rename(columns={'Sci-Fi':'Sci_Fi'}, inplace= True)

## Questions

### 1. What is the average rating for Action games?

- messing with groupby... don't know how to get rid of the False so making another line of code below it.

In [595]:
df.groupby(by ='Action').rating.mean()

Action
False    6.998812
True     7.068878
Name: rating, dtype: float64

In [563]:
df[df.Action].rating.mean()

7.068877867327932

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [564]:
game_votes = df[(df.year > 2010) ].rating.mean()
game_votes

7.119838056680145

In [565]:
game_votes = df[(df.year <= 2010) ].rating.mean()
game_votes

7.00639189189191

### 3. What games include "Fallout" in their title?

In [566]:
df[df.name.str.contains("Fallout")]

,name,url,year,certificate,rating,votes,plot_summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci_Fi,Thriller
29,Fallout: New Vegas,https://www.imdb.com/title/tt1706601/?ref_=adv...,2010.0,M,8.9,12296.0,"After surviving a bullet to the head, Courier ...",True,True,False,False,False,False,False,True,False
37,Fallout 4,https://www.imdb.com/title/tt4741306/?ref_=adv...,2015.0,M,8.6,12790.0,"In the post-apocalyptic Boston, Massachusetts ...",True,True,False,False,False,False,False,True,False
115,Fallout 3,https://www.imdb.com/title/tt1073664/?ref_=adv...,2008.0,M,9.1,18904.0,"Centuries following nuclear war, a teen leaves...",True,True,False,False,False,False,False,True,False
207,Fallout 76,https://www.imdb.com/title/tt8495446/?ref_=adv...,2018.0,M,4.0,1756.0,"Twenty-five years after the bombs fall, you an...",True,True,False,False,False,False,False,True,False
340,Fallout: A Post-Nuclear Role-Playing Game,https://www.imdb.com/title/tt0134648/?ref_=adv...,1997.0,M,9.2,3772.0,After being sent by the overseer of his vault ...,True,True,False,False,False,False,False,True,False
437,Fallout 2: A Post-Nuclear Role-Playing Game,https://www.imdb.com/title/tt0183066/?ref_=adv...,1998.0,M,9.4,3861.0,"In a post-nuclear future, the descendant of an...",True,True,False,False,False,False,False,True,False
1062,Fallout: The Frontier,https://www.imdb.com/title/tt7471838/?ref_=adv...,2021.0,NaN,4.1,24.0,The ongoing conflict between the Legion and th...,True,True,False,False,False,False,False,True,False
1233,Fallout Tactics: Brotherhood of Steel,https://www.imdb.com/title/tt0246614/?ref_=adv...,2001.0,M,7.4,784.0,"The Brotherhood of Steel, a faction of technol...",True,True,False,False,False,False,False,True,False
1872,Fallout: New Vegas - Honest Hearts,https://www.imdb.com/title/tt13259848/?ref_=ad...,2011.0,M,7.5,74.0,The story leads the protagonist to the Canyon ...,True,True,False,False,False,False,False,True,False
1964,Fallout 4: New Vegas,https://www.imdb.com/title/tt9054854/?ref_=adv...,2019.0,NaN,6.2,15.0,An unofficial fan-made recreation of Fallout: ...,True,True,False,False,False,False,False,True,False
2003,Fallout: Brotherhood of Steel,https://www.imdb.com/title/tt0426456/?ref_=adv...,2004.0,NaN,5.5,111.0,The adventures of an initiate in the Brotherho...,True,True,False,False,False,False,False,True,False
2117,Fallout: New Vegas - Old World Blues,https://www.imdb.com/title/tt13627658/?ref_=ad...,2011.0,NaN,8.3,77.0,After being transported to the Big MT research...,True,True,False,False,False,False,False,True,False
2170,Fallout Legacy Collection,https://www.imdb.com/title/tt13409472/?ref_=ad...,2019.0,NaN,5.8,6.0,Add a Plot,True,False,False,False,False,False,False,False,False
2362,Fallout: New Vegas - Simply Uncut,https://www.imdb.com/title/tt15448278/?ref_=ad...,2019.0,NaN,NaN,NaN,"Many NPCs, areas, items, quests, and concepts ...",True,False,False,False,False,False,False,False,False
2472,Fallout 4: Far Harbor,https://www.imdb.com/title/tt13877574/?ref_=ad...,2016.0,NaN,8.0,69.0,A new case from Valentine's Detective Agency l...,True,True,False,False,False,False,False,True,False
2549,Fallout: New Vegas - Dead Money,https://www.imdb.com/title/tt13129016/?ref_=ad...,2010.0,NaN,7.3,72.0,"You, the courier, were drawn to an abandoned B...",True,True,False,False,False,False,False,False,False
2681,Fallout: Miami,https://www.imdb.com/title/tt9243702/?ref_=adv...,2019.0,NaN,NaN,NaN,Journey to the post-nuclear vacation wasteland...,True,True,False,False,False,False,False,True,False
2718,Fallout 4: Fusion City Rising,https://www.imdb.com/title/tt6108962/?ref_=adv...,2016.0,NaN,7.9,12.0,Join Peter on a wild adventure to stop religio...,True,True,False,False,False,False,False,False,False
2861,Fallout: New California,https://www.imdb.com/title/tt9162260/?ref_=adv...,2018.0,NaN,6.4,7.0,An all new story around an adopted resident of...,True,True,False,False,False,False,False,True,False
3047,Fallout: New Vegas - Lonesome Road,https://www.imdb.com/title/tt13627682/?ref_=ad...,2011.0,NaN,7.7,60.0,Add a Plot,True,True,False,False,False,False,False,True,False
3086,Fallout 4: Heather Casdin,https://www.imdb.com/title/tt16604526/?ref_=ad...,2017.0,NaN,NaN,NaN,A unique companion mod for Fallout 4 which add...,True,True,False,False,False,False,False,False,False
3127,Fallout 3: Point Lookout,https://www.imdb.com/title/tt12702412/?ref_=ad...,2009.0,NaN,8.0,70.0,Point Lookout is the fourth downloadable expan...,True,True,False,False,False,False,False,False,False
3141,Fallout 3: Operation: Anchorage,https://www.imdb.com/title/tt12702392/?ref_=ad...,2009.0,NaN,6.7,73.0,This expansion adds four to five hours of war-...,True,True,False,False,False,False,False,True,False
3165,Fallout 4: Nuka-World,https://www.imdb.com/title/tt15378570/?ref_=ad...,2016.0,M,6.5,45.0,"Take a trip to Nuka-World, a vast amusement pa...",True,True,False,False,False,False,False,True,False
3206,Fallout 3: Broken Steel,https://www.imdb.com/title/tt1925430/?ref_=adv...,2009.0,NaN,7.7,334.0,Expansion pack for Fallout 3 (2008). After Pro...,True,True,False,False,False,False,False,True,False
3440,Fallout 76: Steel Reign,https://www.imdb.com/title/tt14987880/?ref_=ad...,2021.0,NaN,5.0,11.0,Add a Plot,True,True,False,False,False,False,False,True,False
3554,Fallout 3: The Pitt,https://www.imdb.com/title/tt12702402/?ref_=ad...,2009.0,NaN,7.6,70.0,The fifth and final downloadable expansion for...,True,True,False,False,False,False,False,True,False
3615,Fallout 3: Mothership Zeta,https://www.imdb.com/title/tt12702432/?ref_=ad...,2009.0,NaN,6.4,72.0,The fifth and final downloadable expansion for...,True,True,False,False,False,False,False,True,False
3719,Fallout 76: Steel Dawn,https://www.imdb.com/title/tt13534124/?ref_=ad...,2020.0,NaN,6.4,28.0,Add a Plot,True,True,False,False,False,False,False,True,False
3731,Fallout 76: Expeditions - The Pitt,https://www.imdb.com/title/tt21040946/?ref_=ad...,2022.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
4012,Fallout 4: Capital Wasteland,https://www.imdb.com/title/tt9543158/?ref_=adv...,NaN,NaN,NaN,NaN,Add a Plot,True,True,False,False,False,False,False,True,False
4190,Fallout 76: Wastelanders,https://www.imdb.com/title/tt13871682/?ref_=ad...,2020.0,NaN,5.8,32.0,Add a Plot,True,True,False,False,False,False,False,True,False
5306,Fallout 4: Automatron,https://www.imdb.com/title/tt15231134/?ref_=ad...,2016.0,M,6.4,30.0,The mysterious Mechanist has unleashed a horde...,True,True,False,False,False,False,False,True,False
8315,Fallout 4 - Point Lookout,https://www.imdb.com/title/tt20242232/?ref_=ad...,2022.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
9821,Fallout: Cascadia,https://www.imdb.com/title/tt9203196/?ref_=adv...,2019.0,NaN,NaN,NaN,A full-size mod for Fallout 4 set in a post-nu...,True,True,False,False,False,False,False,True,False
10013,Fallout 4,https://www.imdb.com/title/tt4741306/?ref_=adv...,2015.0,M,8.6,12791.0,"In the post-apocalyptic Boston, Massachusetts ...",True,True,False,False,False,False,False,True,False
10027,Fallout 3,https://www.imdb.com/title/tt1073664/?ref_=adv...,2008.0,M,9.1,18905.0,"Centuries following nuclear war, a teen leaves...",True,True,False,False,False,False,False,True,False
10716,Fallout 4: London,https://www.imdb.com/title/tt17074640/?ref_=ad...,2023.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
12535,Fallout 4: Wasteland Workshop,https://www.imdb.com/title/tt15378788/?ref_=ad...,2016.0,M,4.2,9.0,Add a Plot,False,True,False,False,False,False,False,True,False
13598,Fallout 4: Vault-Tec Workshop,https://www.imdb.com/title/tt15231138/?ref_=ad...,2016.0,M,5.5,11.0,Add a Plot,False,True,False,False,False,False,False,True,False
14919,Fallout 4: Contraptions Workshop,https://www.imdb.com/title/tt15378806/?ref_=ad...,2016.0,M,5.2,10.0,Add a Plot,False,True,False,False,False,False,False,True,False
19373,Fallout: A Post-Nuclear Role-Playing Game,https://www.imdb.com/title/tt0134648/?ref_=adv...,1997.0,M,9.2,3773.0,After being sent by the overseer of his vault ...,True,True,False,False,False,False,False,True,False
19425,Fallout New Vegas: Brave New World,https://www.imdb.com/title/tt12819644/?ref_=ad...,2020.0,NaN,5.6,5.0,Brave New World is a project that gathers the ...,False,False,False,False,False,False,False,True,False
19513,Fallout Shelter,https://www.imdb.com/title/tt5430868/?ref_=adv...,2015.0,NaN,6.2,630.0,"As Overseer, you must expand and maintain your...",False,False,False,False,False,False,False,True,False

### 4. What is the most common certificate for Sci-Fi games?

In [567]:
df[df["Sci_Fi"]].certificate.value_counts()

T            424
M            339
E            185
E10+          94
Unrated       46
K-A           41
Not Rated     29
GA             5
AO             5
MA-13          4
12             3
EC             3
MA-17          1
PG-13          1
G              1
Approved       1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [568]:
m_ao = df[(df["certificate"]== 'M') | (df["certificate"]== 'AO')].Thriller.sum()
all_items = df[df.Thriller].Thriller.sum()
divide = m_ao / all_items
percent = divide * 100
percent

32.122370936902485

- total number of Thriller games in the dataset

In [569]:
df[df.Thriller].Thriller.sum()

523

- total number of Thriller games with M or AO cert

In [570]:
df[(df["certificate"]== 'M') | (df["certificate"]== 'AO')].Thriller.sum()

168

### 6. What is the mean and median rating for Family games? for Action games?

In [603]:
df.groupby(['Action']).rating.agg(['mean','median'])

            mean  median
Action
False   6.998812     7.2
True    7.068878     7.2

In [572]:
df.groupby(['Family']).rating.agg(['mean','median'])

            mean  median
Family
False   7.104128     7.3
True    6.686450     6.9

### 7. Which game from 2018 got the most votes?

In [573]:
game_votes = df[(df.year == 2018) ].sort_values("votes", ascending=False)
game_votes[["name","year", "votes"]].head(1)

                         name    year    votes
15915  Red Dead Redemption II  2018.0  35709.0

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [574]:
df.groupby('Action').rating.mean()

Action
False    6.998812
True     7.068878
Name: rating, dtype: float64

In [575]:
df.groupby('Adventure').rating.mean()

Adventure
False    6.788333
True     7.249050
Name: rating, dtype: float64

In [576]:
df.groupby('Comedy').rating.mean()

Comedy
False    7.032130
True     7.186753
Name: rating, dtype: float64

In [577]:
df.groupby('Crime').rating.mean()

Crime
False    7.030993
True     7.315111
Name: rating, dtype: float64

In [578]:
df.groupby('Family').rating.mean()

Family
False    7.104128
True     6.686450
Name: rating, dtype: float64

In [579]:
df.groupby('Fantasy').rating.mean()

Fantasy
False    6.976189
True     7.261732
Name: rating, dtype: float64

In [580]:
df.groupby('Mystery').rating.mean()

Mystery
False    7.021001
True     7.451329
Name: rating, dtype: float64

In [581]:
df.groupby('Sci_Fi').rating.mean()

Sci_Fi
False    7.068984
True     6.949254
Name: rating, dtype: float64

In [582]:
df.groupby('Thriller').rating.mean()

Thriller
False    7.045595
True     7.107143
Name: rating, dtype: float64

### 9. Which year's games received the most votes?

- not 100% sure if this is what the question is asking

In [583]:
total = df.loc[ : ,["year","name", "votes"]].sort_values("votes", ascending=False)
total.iloc[0]

year             2013.0
name     The Last of Us
votes           60597.0
Name: 19327, dtype: object

### 10. What's the average number of votes for games that are not Action games?

- all votes.mean = 630.599138

### 11. What game are platformers?

 ### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [584]:
df.loc[(df['rating']> 8.0) & (df['votes']> 1000),["certificate"]].value_counts()

certificate
M              363
T              180
E              102
E10+            51
K-A             11
AO               1
Not Rated        1
Unrated          1
dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

### 14. What are the average ratings by year?

In [585]:
df.groupby(by ='year').rating.mean()

year
1952.0    7.000000
1962.0    6.800000
1964.0         NaN
1969.0    6.950000
1970.0    4.300000
            ...
2022.0    7.563063
2023.0         NaN
2024.0         NaN
2025.0         NaN
2027.0         NaN
Name: rating, Length: 61, dtype: float64

### 15. For each cerficate, what was the average rating and average number of votes?

In [586]:
df.groupby(['certificate']).agg({
    'rating': ['mean'],
'votes': 'mean'
})

               rating        votes
                 mean         mean
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.895238   322.502646
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333