# Lab 3 - Video Game Reviews

In [551]:
import pandas as pd

## Import Data

In [552]:
df = pd.read_csv('imdb-videogames.csv')

In [553]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [554]:
df.shape

(20805, 17)

In [555]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [556]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

In [557]:
df.duplicated().sum()

2

In [558]:
df.drop_duplicates(inplace=True)

In [559]:
df.duplicated().sum()

0

In [560]:
df.dtypes

df.rating.replace(' ', inplace=True)
df.rating.replace('*9.0', '9', inplace=True)
df.rating = df.rating.astype(float)
df.votes.replace(' ', inplace=True)
df.votes = df.votes.str.replace(',', '')
df.votes = df.votes.astype(float)

In [561]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [562]:
df.columns
df.drop('Unnamed: 0', axis = 1, inplace=True)
df.rename(columns={'plot summary':'plot_summary'}, inplace=True)
df.rename(columns={'Sci-Fi':'Sci_Fi'}, inplace= True)

## Questions

### 1. What is the average rating for Action games?

- messing with groupby... don't know how to get rid of the False so making another line of code below it.

In [595]:
df.groupby(by ='Action').rating.mean()

Action
False    6.998812
True     7.068878
Name: rating, dtype: float64

In [563]:
df[df.Action].rating.mean()

7.068877867327932

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [564]:
game_votes = df[(df.year > 2010) ].rating.mean()
game_votes

7.119838056680145

In [565]:
game_votes = df[(df.year <= 2010) ].rating.mean()
game_votes

7.00639189189191

### 3. What games include "Fallout" in their title?

In [ ]:
df[df.name.str.contains("Fallout")]

### 4. What is the most common certificate for Sci-Fi games?

In [567]:
df[df["Sci_Fi"]].certificate.value_counts()

T            424
M            339
E            185
E10+          94
Unrated       46
K-A           41
Not Rated     29
GA             5
AO             5
MA-13          4
12             3
EC             3
MA-17          1
PG-13          1
G              1
Approved       1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

- your way

In [619]:
thriller_m_ao = df[ (df.Thriller==True) & (df.certificate=='M') | (df.certificate=='AO')]
divide = len(thriller_m_ao) / df[df.Thriller].Thriller.sum()
percent = divide * 100
percent

38.24091778202677

- my way

In [568]:
m_ao = df[(df["certificate"]== 'M') | (df["certificate"]== 'AO')].Thriller.sum()
all_items = df[df.Thriller].Thriller.sum()
divide = m_ao / all_items
percent = divide * 100
percent

32.122370936902485

- total number of Thriller games in the dataset

In [569]:
df[df.Thriller].Thriller.sum()

523

- total number of Thriller games with M or AO cert

In [570]:
df[(df["certificate"]== 'M') | (df["certificate"]== 'AO')].Thriller.sum()

168

### 6. What is the mean and median rating for Family games? for Action games?

In [603]:
df.groupby(['Action']).rating.agg(['mean','median'])

            mean  median
Action
False   6.998812     7.2
True    7.068878     7.2

In [572]:
df.groupby(['Family']).rating.agg(['mean','median'])

            mean  median
Family
False   7.104128     7.3
True    6.686450     6.9

### 7. Which game from 2018 got the most votes?

In [573]:
game_votes = df[(df.year == 2018) ].sort_values("votes", ascending=False)
game_votes[["name","year", "votes"]].head(1)

                         name    year    votes
15915  Red Dead Redemption II  2018.0  35709.0

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [640]:
genres = ["Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Sci_Fi", "Thriller"]

for genre in genres:
    print(f'{genre} rating mean:', df[df[genre]].rating.mean())

Action rating mean: 7.068877867327932
Adventure rating mean: 7.24904995403003
Comedy rating mean: 7.186753246753254
Crime rating mean: 7.315111111111107
Family rating mean: 6.686450381679379
Fantasy rating mean: 7.261732229123556
Mystery rating mean: 7.4513286713286675
Sci_Fi rating mean: 6.9492544492544575
Thriller rating mean: 7.1071428571428585

### 9. Which year's games received the most votes?

In [641]:
df.groupby('year')['votes'].sum().sort_values(ascending= False)

year
2013.0    675033.0
2011.0    590386.0
2018.0    416710.0
2009.0    408044.0
2007.0    391612.0
            ...
1964.0         0.0
2023.0         0.0
2024.0         0.0
2025.0         0.0
2027.0         0.0
Name: votes, Length: 61, dtype: float64

### 10. What's the average number of votes for games that are not Action games?

- all votes.mean = 630.599138

In [617]:
df[df.Action == False].votes.mean()

188.42715700141443

### 11. What games are platformers?

In [ ]:
df[df.plot_summary.str.contains('platformer') == True]

 ### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [584]:
df.loc[(df['rating']> 8.0) & (df['votes']> 1000),["certificate"]].value_counts()

certificate
M              363
T              180
E              102
E10+            51
K-A             11
AO               1
Not Rated        1
Unrated          1
dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [630]:
rating_threshold = df.rating.quantile(.75)
votes_threshold = df.votes.quantile(.75)
genres = ["Action", "Adventure","Comedy","Crime","Family","Fantasy","Mystery","Sci_Fi","Thriller"]
good_games = df[ (df.rating > rating_threshold) & (df.votes > votes_threshold)]

for genre in genres:
    print(genre,len(good_games[ good_games[genre]==True]))

Action 1100
Adventure 991
Comedy 149
Crime 150
Family 113
Fantasy 443
Mystery 121
Sci_Fi 186
Thriller 55

### 14. What are the average ratings by year?

In [585]:
df.groupby(by ='year').rating.mean()

year
1952.0    7.000000
1962.0    6.800000
1964.0         NaN
1969.0    6.950000
1970.0    4.300000
            ...
2022.0    7.563063
2023.0         NaN
2024.0         NaN
2025.0         NaN
2027.0         NaN
Name: rating, Length: 61, dtype: float64

### 15. For each cerficate, what was the average rating and average number of votes?

In [586]:
df.groupby(['certificate']).agg({
    'rating': ['mean'],
'votes': 'mean'
})

               rating        votes
                 mean         mean
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.895238   322.502646
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333